<!DOCTYPE html>
<html lang="en">
  <head>

    {{>headerlinks}}

  </head>
  <body>

    {{!-- Main Menu  --}}
    {{>navbar}}  
   
    <!--   Main Header -->
    <div class="container-fluid main_header">
        <div class="row"> 
            
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpeg" alt="Nature" class="img-fluid" title="Nature technical"></img>
                        </figure>
                    </div>
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am A <span class="text_clr"> Mern Stack Developer </span> House Wife And A FreedomFighter</h1>
                        <a href="*"><button>About me</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!--  Footer  -->
   {{>footer}}
  </body>
</html>

